.circle {
    width: 200px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
}

.half {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    background: tomato;
}

.left {
    left: 0;
    border-radius: 100px 0 0 100px;
}

.right {
    right: 0;
    border-radius: 0 100px 100px 0;
    display: none;
}